* {
    margin: 0;
    padding: 0;
    background-color: #005B41;
}

header {
    height: 10vh;
    background-color: #242323;
}

h2 {
    color: yellow;
    padding: 14px 0 14px 0;
    background-color: #242323;
}

nav {
    text-align: center;
    background-color: #555151;
}

.tc {
    height: 87vh;
}

aside iframe {
    height: 87vh;
    width: 79.2vw;
    border-collapse: collapse;

}


h2 {
    text-align: center;
}

footer p {
    margin-top: 0;
    text-align: center;
    background-color: azure;
}

footer p a {
    text-decoration: none;
    background-color: azure;
    color: #000;
}

ul {
    display: flex;
    list-style: none;
    text-align: center;
    background-color: #555151;
    margin-left: 25rem;
}

ul li {
    align-content: space-around;
    padding: 1px 60px 1px 60px;
    background-color: #555151;
    animation: forwards;
}

ul li a {
    color: yellow;
    text-decoration: none;
}