.container {
    box-sizing: border-box;
    background-color: #610C9F;
    width: 20rem;
    border: 1px solid salmon;
    box-shadow: 12px blue;
    padding: 1rem;
    border-radius: 0 50px 0 50px;
    /* margin-inline: 30rem; */
    margin-left: 12px;
    align-content: center;
    align-self: center;
    color: #EFE1D1;
}

input {
    margin: 2px;
}

h4 {
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #191a1b;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

header {
    display: flex;
}

header h4 {
    width: 95%;
}

button {
    background-color: #bcbec1;
    color: #191a1b;
    text-align: center;
    /* padding: 8px 70px 8px 70px; */
    border-radius: 2px 2px 2px 50px;
    border-color: #bcbec1;
}

.dark-mode {
    background-color: black;
    color: white;
}

img {
    width: 16rem;
    height: 40px;
    border-radius: 2px 2px 2px 50px;
}

section {
    display: flex;
    margin: 5px;
}